# fprime items
logs/
cmake-build-*
build-artifacts/
build-fprime-*
build-c3m-local/
DpCat/
releases/
*-template
*.template.cpp
*.template.hpp

# Misc
/venv/
/fprime-venv/
/.cross-venv-linux/
/cross/pi-zero-w/sysroot/
/cross/pi-zero-w/verify/
/cross/pi-zero-w/docker/*.tar
/cross/pi-zero-w/docker/*.tar.gz
/.idea/
/.vscode/
.DS_Store
*.gcov
