# Base on:
# -r https://raw.githubusercontent.com/nasa/fprime/refs/tags/v4.0.0a1/requirements.txt
-r lib/fprime/requirements.txt

west
# Requirements files needed for building Zephyr
# Zephyr workflow requirements removed due to conflicts with F Prime
-r lib/zephyr-workspace/zephyr/scripts/requirements-base.txt
-r lib/zephyr-workspace/zephyr/scripts/requirements-build-test.txt
-r lib/zephyr-workspace/zephyr/scripts/requirements-run-test.txt
